@import url("style.css");

/* Variables */
:root {
    --height-header: 55px;
    --height-nav: 80px;
}

/* Elements */
a {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-decoration-color: transparent;
    text-underline-offset: .25rem;
    text-decoration-style: solid;
    transition: var(--transition-default);
}
a:hover {
    color: var(--beige-1);
    text-decoration-color: var(--beige-1);
}
a,
main h1, main h2, main h3, main h4, main h5 {
    color: var(--brand-1);
}
button, input[type="button"] {
	background-color: var(--gray-4);
	color: var(--white);
    border-color: var(--gray-4);
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    cursor: pointer;
	display: inline-block;
	padding: 1em 1.5em;
	text-transform: uppercase;
	transition: var(--transition-default);
    outline: none;
}
button.primary, input.primary[type="button"] {
    background-color: var(--brand-1);
    border-color: var(--brand-1);
}
button.secondary, input.secondary[type="button"] {
    background-color: transparent;
    color: var(--brand-1);
    border-color: var(--brand-1);
}

button:hover, input[type="button"]:hover {
    background: var(--beige-1);
    color: var(--white);
    border-color: var(--beige-1);
}
button.secondary:hover, input.secondary[type="button"]:hover {
    background: transparent;
    color: var(--beige-1);
    border-color: var(--beige-1);
}
form button {
    float: right;
    margin-top: 0.5rem;
    margin-left: 1rem;
}
h1, h2, h3, h4, h5, .title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}
h1, .title {
    text-transform: uppercase;
}
h1 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
h2 {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h1 ~ h2 {
    margin-top: -1rem;
    margin-bottom: 1.5rem;
}
h3 {
    font-size: 1rem;
}
blockquote {
    position: relative;
    margin: 1rem 0;
    padding: 0 0.5rem;
}
blockquote::before, blockquote::after {
    position: absolute;
    display: block;
    font-size: 2rem;
    color: var(--beige-2);
}
blockquote::before {
    content: '„';
    left: -0.33rem;
    top: -1rem;
}
blockquote::after {
    content: '“';
    bottom: -1rem;
    right: -0.25rem;
}
blockquote cite {
    display: block;
    margin-top: 0.5rem;
    text-align: right;
}
section {
    overflow: auto;;
}
hr {
    background-color: var(--beige-4);
    border: none;
    height: 1px;
}
fieldset {
    margin: 0;
    padding: 0.5rem 0;
    border: none;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(min-content, 1rem) 1fr;
    grid-gap: 0.5rem;
}
fieldset label {
    padding: 0;
    font-size: 0.9rem;
    opacity: 0.5;
    line-height: 1.25rem;
}
fieldset input,
fieldset select {
    height: 2rem;
    box-sizing: border-box;
    font-size: 1rem;
    background: var(--white);
    border: none;
    transition: var(--transition-default);
}
fieldset input {
    padding: 0.5rem;
}
fieldset select {
    padding: 0.25rem;
}
fieldset input:focus,
fieldset select:focus { 
    outline: none;
    border: none;
}

/* Structure */
body {
    width: auto;
    display: grid;
    gap: 0 0;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content, var(--height-header)) minmax(min-content, 200px) 1fr min-content min-content);
    grid-template-areas:
        "header"
        "nav"
        "main"
        "aside"
        "footer";

    background-color: var(--white);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}
header {
    grid-area: header;
    height: var(--height-header);
    z-index: 1;
    background-color: var(--white);
    border-top: 1rem var(--brand-1) solid;
    padding: 0;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    transition: var(--transition-default);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
body[data-scroll] header {
    box-shadow: 0 15px 30px 0px #000;
}
header a {
    display: inline-block;
    font-size: 0.75rem;
    text-transform: uppercase;
    padding: 0.33rem;
    transition: var(--transition-default);
}
header button#menu-toggle {
    padding: 0 0.75rem;
    background-color: var(--white);
    color: var(--brand-1);
    border: none;
}
header button#menu-toggle .screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
header button#menu-toggle .icon-menu-toggle {
	position: relative;
    display: inline-block;
	vertical-align: middle;
    width: 1.5rem;
	height: 1.5rem;
    top: 0;
	fill: currentColor;
}
header button#menu-toggle .svg-menu-toggle .line {
    opacity: 1;
    transform: rotate(0) translateY(0) translateX(0);
    transform-origin: 1rem 1rem;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
header button#menu-toggle .svg-menu-toggle .line-1 {
    transform-origin: 1rem 2.5rem;
}
header button#menu-toggle .svg-menu-toggle .line-3 {
    transform-origin: 1rem 4.125rem;
}
header button#menu-toggle.open .svg-menu-toggle .line-1 {
    transform: rotate(45deg) translateY(0) translateX(0);
}
header button#menu-toggle.open .svg-menu-toggle .line-2 {
    opacity: 0;
}
header button#menu-toggle.open .svg-menu-toggle .line-3 {
    transform: rotate(-45deg) translateY(0em) translateX(0em);
}
nav {
    grid-area: nav;
    z-index: 1;
    background-color: var(--white);
    transition: var(--transition-default);
    height: var(--height-nav);
    width: 100%;
    position: fixed;
    top: var(--height-header);
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "logo title"
        "menu menu"
}
nav a.logo {
    grid-area: logo;
    margin-top: -30px;
    width: 125px;
    height: 100px;
    z-index: 1;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    /* background-color: var(--white); */
}
nav strong.title {
    grid-area: title;
    z-index: 1;
    color: var(--brand-1);
    background-color: var(--white);
    text-align: left;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5rem;
    letter-spacing: 1px;
    transition: var(--transition-default);
}
nav strong.title.academy::before {
    content: "IGE-Akademie";
    display: block;
    font-weight: 300;
}
nav ul#menu {
    grid-area: menu;
    margin: 1rem;
	padding: 0;
    z-index: 0;
	list-style: none;
    transition: var(--transition-default);
}
nav ul#menu:after {
    content: "";
    display: block;
    height: 1rem;
    background-color: var(--white);
}
nav ul#menu li {
    background-color: var(--white);
    transition: var(--transition-default);
}
nav ul#menu[data-menu-open="1"] li[data-menu-item="1"] > a,
nav ul#menu[data-menu-open="2"] li[data-menu-item="2"] > a,
nav ul#menu[data-menu-open="3"] li[data-menu-item="3"] > a,
nav ul#menu[data-menu-open="4"] li[data-menu-item="4"] > a,
nav ul#menu[data-menu-open="5"] li[data-menu-item="5"] > a,
nav ul#menu[data-menu-open="6"] li[data-menu-item="6"] > a,
nav ul#menu[data-menu-open="7"] li[data-menu-item="7"] > a,
nav ul#menu[data-menu-open="8"] li[data-menu-item="8"] > a,
nav ul#menu[data-menu-open="9"] li[data-menu-item="9"] > a {
    background-color: var(--brand-1);
    color: var(--white)
}
nav ul#menu[data-menu-open="1"] li[data-menu-item="1"] > a svg,
nav ul#menu[data-menu-open="2"] li[data-menu-item="2"] > a svg,
nav ul#menu[data-menu-open="3"] li[data-menu-item="3"] > a svg,
nav ul#menu[data-menu-open="4"] li[data-menu-item="4"] > a svg,
nav ul#menu[data-menu-open="5"] li[data-menu-item="5"] > a svg,
nav ul#menu[data-menu-open="6"] li[data-menu-item="6"] > a svg,
nav ul#menu[data-menu-open="7"] li[data-menu-item="7"] > a svg,
nav ul#menu[data-menu-open="8"] li[data-menu-item="8"] > a svg,
nav ul#menu[data-menu-open="9"] li[data-menu-item="9"] > a svg {
    transform: scaleY(-1);
    margin-top: 6px;
    color: var(--white)
}
nav ul#menu li:hover {
    background-color: transparent;
    cursor: pointer;
}
nav ul#menu li a {
    padding: 0.5rem 1.5rem;
    display: block;
    text-decoration: none;
    transition: var(--transition-default);
}
nav ul#menu li a svg {
    float: right;
    margin-top: 2px;
    color: var(--beige-4)
}
nav ul#menu li a:hover {
    /* font-weight: 500; */
}
nav ul#menu li a:hover svg {
    color: var(--beige-1)
}
nav ul#menu li ul {
    display: none;
    opacity: 0;
    transform: translateY(-100%);
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul#menu[data-menu-open="1"] li[data-menu-item="1"] ul,
nav ul#menu[data-menu-open="2"] li[data-menu-item="2"] ul,
nav ul#menu[data-menu-open="3"] li[data-menu-item="3"] ul,
nav ul#menu[data-menu-open="4"] li[data-menu-item="4"] ul,
nav ul#menu[data-menu-open="5"] li[data-menu-item="5"] ul,
nav ul#menu[data-menu-open="6"] li[data-menu-item="6"] ul,
nav ul#menu[data-menu-open="7"] li[data-menu-item="7"] ul,
nav ul#menu[data-menu-open="8"] li[data-menu-item="8"] ul,
nav ul#menu[data-menu-open="9"] li[data-menu-item="9"] ul {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
nav ul#menu li ul li a {
    font-size: 0.9rem;
    padding: 0.5rem 1rem 0.25rem 2rem;
    line-height: 1.25rem;
    color: var(--dark);
}
nav ul#menu li ul li a:hover { 
    color: var(--beige-1);
}
nav ul#menu li ul li a.academy {
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 18px 7px;
    padding-left: 2.75rem;
}
nav ul#menu li ul li a.academy.ga {
    background-image: url("../images/logo-red-40.png");
}
nav ul#menu li ul li a.academy.gc {
    background-image: url("../images/logo-green-40.png");
}
nav ul#menu li ul li a.academy.tt {
    background-image: url("../images/logo-violet-40.png");
}
nav ul#menu li ul li a.academy.rg {
    background-image: url("../images/logo-brown-40.png");
}
main {
    margin-top: calc(var(--height-header) + var(--height-nav) + 1rem);
    margin-left: 1rem;
    margin-right: 1rem;
}
main {
    grid-area: main;
    padding: 2rem;
    background-color: var(--white);
    box-shadow: 0 -20px 60px -20px #000;
    transition: var(--transition-default);
}
main:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 10%;
    left: 0;
    z-index: -1;
    background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
}
main section:first-child {
    margin-top: -1rem;
}
main section:not(:first-child) {
    border-top: 1px var(--beige-4) solid;
    margin: 1rem auto;
    padding: 0.5rem 0;
}
main section:last-child {
    margin-bottom: -1rem;
}
aside {
    grid-area: aside;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
}
aside section {
    background-color: var(--white);
    box-shadow: 10px 10px 60px -20px #000;
    padding: 1.5rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    line-height: 1.3rem;
}
aside section h3 {
    margin: 0;
    text-transform: uppercase;
}
aside section a.more {
    float: right;
}
footer {
    grid-area: footer;
    height: auto;
    background-color: var(--gray-1);
    padding: 1rem 1rem;
    display: grid;
    gap: 1rem 1rem;
    grid-template-columns: 40px 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "logo contact copyright"
        "logo contact links";    
}
footer * {
    color: var(--white);
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-weight: 300;
}
footer .logo {
    grid-area: logo;
}
footer section#contact {
    grid-area: contact;
}
footer section#copyright {
    grid-area: copyright;
}
footer section#links {
    grid-area: links;
}
footer a {
    color: var(--beige-3);
    /* text-decoration: underline; */
}
footer a:hover {
    color: var(--white);
}
footer #links a {
    display: inline-block;
    margin-right: 1rem;
    text-transform: uppercase;
    line-height: 1.5rem;
}

@supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
    main, aside section {
        background-color: var(--white-backdrop);
        backdrop-filter: blur(10px) contrast(90%);
    }
}
@media (max-width: 500px) { /* EXTRA SMALL*/
    footer label { 
        display: block;
    }
}
@media (max-width: 767px) { /* SMALL ONLY */
    body[data-scroll] {
        --height-header: 40px;
        --height-nav: 20px;
    }
    body[data-scroll] header {
        border-top-width: 0;
        border-left: 1rem var(--brand-1) solid;

    }
    body[data-scroll] header a {
        display: none;
    }
    body[data-scroll] header #menu-toggle {
        margin-top: 15px;
    }
    body[data-scroll] nav {
        border-left: 1rem var(--brand-1) solid;
    }
    body[data-scroll] nav a.logo {
        width: 60px;
        height: 40px;
        background-size: 40px;
    }
    nav strong.title {
        margin-right: 0;
        font-size: 1.6rem;
        line-height: 1.8rem;
        align-self: center;
    }
    body[data-scroll] nav strong.title {
        margin-top: -2rem;
        margin-right: 4rem;
        font-size: 1.2rem;
        line-height: 1rem;
    }
    nav strong.title.academy::before {
       font-size: 1.2rem;
    }
    body[data-scroll] nav strong.title.academy::before {
        font-size: 1rem;
        line-height: 2rem;
        margin-top: -0.5rem;
    }
    nav ul#menu {
        overflow-y: hidden;
        opacity: 0;
        transform: translateY(-100%);
    }
    body.menu-open nav {
        height: auto;
        box-shadow: 0 50px 60px -60px #000;
    }
    body.menu-open nav ul#menu {
        overflow-y: visible;
        opacity: 1;
        transform: translateY(0);
        border-top: 1px var(--beige-5) solid;
        padding-top: 1rem;
    }
    body[data-scroll] nav ul#menu {
        margin-left: 0;
    }
}
@media (min-width: 768px) { /* MEDIUM */
    :root {
        --height-nav: 100px;
    }
    fieldset {
        grid-template-columns: minmax(min-content, 80px) 1fr;
        grid-template-rows: auto;
        grid-gap: 1rem;
    }
    fieldset label {
        padding: 0.33rem 0;
    }
    body {
        grid-template-columns: 250px 1fr;
        grid-template-rows: minmax(min-content, var(--height-header)) 1fr min-content min-content);
        grid-template-areas:
            "header header"
            "nav main"
            "nav aside"
            "footer footer";
    }
    header {
        z-index: 1;
        padding: 0 1rem;
    }
    header a {
        padding: 0.66rem;
    }
    header button#menu-toggle {
        display: none;
    }
    body[data-scroll] header {
        box-shadow: 0 0 60px -20px #000;
    }
    nav {
        position: fixed;
        top: var(--height-header);
        left: 2%;
        width: 200px;
        height: auto;
        margin: -20px 0 0 0;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content 1fr;
        grid-template-areas:
            "logo"
            "title"
            "menu"
}
    nav, body[data-scroll] nav {
        box-shadow: 0 40px 60px -40px #000;
    }
    nav a.logo {
        margin-top: 0;
        min-height: 120px;
        width: 100%;
        background-size: 120px;
        background-color: var(--white);
        padding-bottom: 0.5rem;
    }
    nav strong.title {
        text-align: center;
        padding-bottom: 1.5rem;
    }
    nav ul#menu {
        margin: 0;
        opacity: 1;
    }
    main {
        margin-top: var(--height-header);
        margin-left: 0;
        margin-right: 1rem;
    }
    aside {
        padding: 1rem 1rem 0 0;
    }
    @supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
        nav {
            background-color: var(--white-backdrop);
            backdrop-filter: blur(10px) contrast(90%);
        }
    }
    footer {
        padding: 1.5rem 2rem;
    }
}
@media (min-width: 992px) { /* LARGE */
    body {
        grid-template-columns: minmax(min-content, 25%) 1fr minmax(min-content, 250px);
        grid-template-rows: minmax(min-content, var(--height-header)) 1fr min-content);
        grid-template-areas:
            "header header header"
            "nav main aside"
            "footer footer footer";
    }
    main {
        margin-right: 0;
    }
    main, aside {
        margin-top: var(--height-header);
    }
    aside {
        padding: 1rem;
    }
    footer {
        grid-template-columns: 40px 0.75fr 1fr min-content;
        grid-template-rows: 1fr;
        grid-template-areas:
            "logo contact copyright links";    
    }
    footer #links a {
        display: block;
        text-align: right;
    }
}
@media (min-width: 1200px) { /* XLARGE */
    body {
        grid-template-columns: minmax(min-content, 30%) 1fr minmax(min-content, 250px);

    }
    nav {
        width: 220px;
        left: 5%;
    }
}