@import url("common.css");

/* Variables */
:root {
    --brand-1: hsl(4, 77%, 26%);
    --brand-2: hsl(4, 77%, 43%);
    --brand-3: hsl(4, 77%, 60%);
    --brand-4: hsl(4, 77%, 77%);
    --brand-5: hsl(4, 77%, 94%);

    --spare-1: hsl(219, 74%, 33%);
    --spare-2: hsl(219, 74%, 48%);
    --spare-3: hsl(219, 74%, 63%);
    --spare-4: hsl(219, 74%, 78%);
    --spare-5: hsl(217, 74%, 93%);
}

body {
    background-image: url("../images/background-ga-768.jpg");
}
nav a.logo { 
    background-image: url("../images/logo-red-100.png");
}

@media (max-width: 767px) { /* SMALL ONLY */
    body[data-scroll] nav a.logo {
        background-image: url("../images/logo-red-40.png");
    }
}
@media (min-width: 768px) { /* MEDIUM */
    body {
        background-image: url("../images/background-ga-992.jpg");
    }
    nav a.logo { 
        background-image: url("../images/logo-red-120.png");
    }
}
@media (min-width: 992px) { /* LARGE */
    body {
        background-image: url("../images/background-ga-1200.jpg");
    }
}
@media (min-width: 1200px) { /* XLARGE */ 
    body {
        background-image: url("../images/background-ga-1600.jpg");
    }
}