@import url("common.css");

/* Variables */
:root {
    --brand-1: hsl(229, 74%, 34%);
    --brand-2: hsl(229, 74%, 49%);
    --brand-3: hsl(229, 74%, 64%);
    --brand-4: hsl(229, 74%, 79%);
    --brand-5: hsl(227, 74%, 94%);
}

nav a.logo { 
    background-image: url("../images/logo-blue-120.png");
}