@import url("common.css");

/* Variables */
:root {
    --brand-1: hsl(229, 74%, 34%);
    --brand-2: hsl(229, 74%, 49%);
    --brand-3: hsl(229, 74%, 64%);
    --brand-4: hsl(229, 74%, 79%);
    --brand-5: hsl(227, 74%, 94%);
}

body {
    background-image: url("../images/background-hr-768.jpg");
}
nav a.logo { 
    background-image: url("../images/logo-blue-100.png");
}

@media (max-width: 767px) { /* SMALL ONLY */
    body[data-scroll] nav a.logo {
        background-image: url("../images/logo-blue-40.png");
    }    
}
@media (min-width: 768px) { /* MEDIUM */
    body {
        background-image: url("../images/background-hr-992.jpg");
    }
    nav a.logo { 
        background-image: url("../images/logo-blue-120.png");
    }
}
@media (min-width: 992px) { /* LARGE */
    body {
        background-image: url("../images/background-hr-1200.jpg");
    }
}
@media (min-width: 1200px) { /* XLARGE */ 
    body {
        background-image: url("../images/background-hr-1600.jpg");
    }
}