@import url("common.css");

/* Variables */
:root {
    --brand-1: hsl(3, 90%, 24%);
    --brand-2: hsl(3, 90%, 44%);
    --brand-3: hsl(3, 90%, 64%);
    --brand-4: hsl(3, 90%, 84%);
    --brand-5: hsl(3, 90%, 94%);
}

body {
    background-image: url("../images/background-ga-768.jpg");
}
nav a.logo { 
    background-image: url("../images/logo-red-100.png");
}

@media (min-width: 768px) { /* MEDIUM */
    body {
        background-image: url("../images/background-ga-992.jpg");
    }
    nav a.logo { 
        background-image: url("../images/logo-red-120.png");
    }
}
@media (min-width: 992px) { /* LARGE */
    body {
        background-image: url("../images/background-ga-1200.jpg");
    }
}
@media (min-width: 1200px) { /* XLARGE */ 
    body {
        background-image: url("../images/background-ga-1600.jpg");
    }
}