/* Variables */
:root {
    --brand-hr: hsl(229, 74%, 34%);
    --brand-ga: hsl(3, 90%, 24%);
    --brand-gc: hsl(120, 100%, 21%);
    --brand-tt: hsl(301, 100%, 21%);
    --brand-rg: hsl(37, 100%, 22%);

    --beige-1: hsl(35, 43%, 44%);
    --beige-2: hsl(35, 43%, 56%);
    --beige-3: hsl(35, 43%, 68%);
    --beige-4: hsl(35, 43%, 80%);
    --beige-5: hsl(35, 43%, 92%);

    --gray-1: hsl(0, 0%, 34%);
    --gray-2: hsl(60, 0%, 49%);
    --gray-3: hsl(60, 0%, 64%);
    --gray-4: hsl(60, 0%, 79%);
    --gray-5: hsl(60, 0%, 94%);

    --black: hsl(0, 0%, 0%);
    --dark: hsl(0, 0%, 25%);
    --white: hsla(0, 0%, 100%, 1);
    --white-backdrop: hsla(0, 0%, 100%, 0.75);

    --font-default: 'Roboto', 'Arial', sans-serif;

    --transition-default: all 0.3s ease;
}
html {
    font-size: 15px;
}
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: var(--dark);
    font-family: var(--font-default);
    line-height: 1.5rem;
}
